@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400; /* Regular Italic */
    font-style: italic;
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8fc;
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
}

.box-grid{
    display: grid;
}

.box-grid div{
    width: 4rem;
    height: 4rem;
    background-color: aqua;
}

@media screen and (min-width: 922px){
.content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
}

}




